// place your custom styles here
.vp-footer a {
	color: var(--light-grey);

	&:hover {
		color: var(--theme-color);
	}
}
.theme-hope-content strong {
	color: var(--theme-color);
}

.vp-navbar .nav-link,
.nav-screen-dropdown .nav-link {
	display: flex;
	align-items: center;

	img.icon {
		height: 1em;
	}
}
